{
    "folders": {
        "English": {
            "location": "data/example-eng-tas/", "format": "ta"
        },
        "EnglishConll": {
            "location": "data/example-eng-conll/", "format": "conll"
        },
    },
    "labelFile": "data/example-labels.json",
    "primaryLabelName": "",
    "labelPositions": {},
    "labelInfoQueryType": {}
}
