.lightcoralLabel{
    background-color: lightcoral;
}

.orangeLabel{
    background-color: orange;
}

.yellowLabel{
    background-color: yellow;
}

.lightblueLabel{
    background-color: lightblue;
}

.greenyellowLabel{
    background-color: greenyellow;
}

.defaultLabel{
    background-color: gray;
}