<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started</title>
    <div th:include="base :: head"></div>

</head>
<body>
<div th:include="base :: nav"></div>
  <div class="container">
      <h3>Let's get started</h3>
      <table class="table table-hover">
          <tr>
              <th>ID</th>
              <th>Text annotation</th>
          </tr>
          <tr th:each="key : ${session.tas.keySet()}">
              <td th:text="${#strings.replace(#strings.abbreviate(key,50),'_', ' ')}"></td>
              <td><a href="#" th:href="@{/annotation(taid=${key})}" th:text="${#strings.abbreviate(session.tas.get(key),200)}"></a></td>
          </tr>
      </table>

    </div>
</body>


</html>
